<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='OTP.css') }}">
</head>
<body>
    <form action="{{ url_for('verify_otp') }}" method="POST" id="container">
        <h1>Verify OTP</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="input__box">
            <span class="details">Enter OTP</span>
            <div>Check your E-mail</div>
            <input type="text" name="otp" placeholder="OTP" required>
        </div>
        <div class="button">
            <input type="submit" value="Verify" style="padding: 10px;">
        </div>
    </form>
</body>
</html>
