<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="container">
        <div class="title">Registration</div>
        <form action="/" method="POST">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="user__details">
                <div class="input__box">
                    <span class="details">First Name</span>
                    <input type="text" name="first_name" id="first_name" placeholder="First Name" required>
                </div>
                <div class="input__box">
                    <span class="details">Last Name</span>
                    <input type="text" name="last_name" id="last_name" placeholder="Last Name" required>
                </div>
                <div class="input__box">
                    <span class="details">Email</span>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="input__box">
                    <span class="details">Phone Number</span>
                    <input type="tel" name="phone" id="phone" pattern="[0-9]{10}" placeholder="Ph No." required>
                </div>
                <div class="input__box">
                    <span class="details">Age</span>
                    <input type="number" name="age" id="age" placeholder="Age" required>
                </div>
            </div>
            <div class="gender__details">
                <input type="radio" name="gender" id="dot-1" value="dot-1">
                <input type="radio" name="gender" id="dot-2" value="dot-2">
                
                <span class="gender__title">Gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span>Male</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span>Female</span>
                    </label>
                </div>
                <div class="user__details">
                    <div class="input__box">
                        <span class="details">City</span>
                        <input type="text" name="city" id="city" placeholder="City" required>
                    </div>
                    <div class="input__box">
                        <span class="details">Nationality</span>
                        <input type="text" name="nationality" id="nationality" placeholder="Country" required>
                    </div>
                </div>
            </div>
            <div class="title">Login Credentials</div>
            <div class="user__details2">
                <div class="input__box">
                    <span class="details">Username</span>
                    <input type="text" name="username" id="username" placeholder="Username" required>
                </div>
                <div class="input__box">
                    <span class="details">Password</span>
                    <input type="password" name="password" id="password" placeholder="Password" required oninput="textChange()">

                </div>
                <div class="validator">
                    <p id="capital">
                        <i class="fas fa-times"></i>
                        <i class="fas fa-check"></i>
                        <span>Upper Case</span>
                    </p>
                    <p id="special-char">
                        <i class="fas fa-times"></i>
                        <i class="fas fa-check"></i>
                        <span>Special Character</span>
                    </p>
                    <p id="number">
                        <i class="fas fa-times"></i>
                        <i class="fas fa-check"></i>
                        <span>Number</span>
                    </p>
                    <p id="more-than-8">
                        <i class="fas fa-times"></i>
                        <i class="fas fa-check"></i>
                        <span>More than 8 characters</span>
                    </p>
                </div>
                <label for="ques" style="font-weight: bold; padding-top: 5px; padding-bottom: 5px;">Security Questions:</label>
                <select name="security_question" id="ques" class="input__box1">
                    <option value="1">First School ?</option>
                    <option value="2">Best Friend ?</option>
                    <option value="3">Favourite Movie ?</option>
                </select>
                <div class="input__box">
                    <span class="details"></span>
                    <input type="text" name="security_answer" id="security_answer" placeholder="Answer" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
            <div><a href="{{ url_for('login') }}" style="text-decoration: none;">Already registered ?</a></div>
        </form>
    </div>

    <script src='https://kit.fontawesome.com/1c2c2462bf.js'></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
