<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='OTP.css') }}">
</head>
<body>
    <form action="{{ url_for('otp_page') }}" method="POST" id="container">
        <h1>OTP Verification</h1>
        <div class="input__box">
            <span class="details">Enter your email:</span>
            <input type="text" name="email" placeholder="E-mail ID" required>
        </div>
        <div class="button">
            <input type="submit" value="Send OTP" style="padding: 10px;">
        </div>
    </form>
</body>
</html>
